[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "~=4.4.0"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
list-gen = "py -m src.main.twitter_list_gen"
freeze = "pip freeze"
list = "pip list"
