[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "~=4.4.0"
python-lib-for-me = {editable = true, path = "../python-lib-for-me"}

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
list-gen        = "py -m twitter_lib_for_me.main.twitter_list_gen"
followee-gen    = "py -m twitter_lib_for_me.main.followee_twitter_list_gen"
freeze          = "pip freeze"
list            = "pip list"
